doctype html
html
   head
      title = "Contact"
   body
   include ./navbar.pug
     h1='Contact'
   div.
   But that gets tedious if you have a lot of text.
   You can use . at the end of a tag to denote a block of text.
   To put tags inside this block, simply enter tag in a new line and 
   indent it accordingly.
       