html 
head 
title navbar 
body 
a(href="/home" style={
  'text-decoration' : 'none',
  'line-height': '2em',
  'margin-left':'500px',
  'font-size':'30px',
  'color':'MediumPurple'
}) Home
a(href="/contact" style={
  'text-decoration' : 'none',
  'line-height': '2em',
  'padding':'20px',
  'font-size':'30px',
  'color':'MediumPurple'
}) Contact
a(href="/service" style={
  'text-decoration' : 'none',
  'line-height': '2em',
  'font-size':'30px',
  'color':'MediumPurple'
}) Services
